
/* Olive Green
#3D550C

Lime Green
#81B622

Yellow Green
#ECF87F

Green
#59981A these are color theme */
.navbar{
    background-color: #3D550C;
    color:#ECF87F;
     
}
.nav-link{
    color:white;
 }
.current,.navbar-brand{
    color: #ECF87F;
    font-weight: 500;
}
body{
    background-color: #ECF87F ;
    width:100%;
 }
 .btn{
    background-color:#81B622 ;
    margin:5px;
    border-color: #ECF87F;
    
 }
  
 .navbar-brand:hover{color:White;}
 .btn:hover{
    background-color:#3D550C ;
    margin:10px;
    border-color: #59981A;
    color:#ECF87F;
 }
 .nav-link:hover{
    color:#ECF87F ;
     border-color: #59981A;
 }
 .carousel-item{width:700px;}
 h5{
   color:#3D550C;
   
 }
 .Price{
   color:red;
   font-weight: 600;
 }
 .stars{
color:#3D550C;
font-size: 20px;
 }
  
   .align-card{
      margin:40px;
   }
 .cards-text{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }