
/* Olive Green
#3D550C

Lime Green
#81B622

Yellow Green
#ECF87F

Green
#59981A these are color theme */
.navbar{
    background-color: #3D550C;
    color:#ECF87F;
     
}
.nav-link{
    color:white;
 }
.current,.navbar-brand{
    color: #ECF87F;
    font-weight: 500;
}
body{
    background-color: #ECF87F ;
    width:100%;
    font-family: Play;
 }
 .btn{
    background-color:#81B622 ;
    margin:5px;
    border-color: #ECF87F;
    
 }
  .link{font-weight: 600; color:#ECF87F}
  .text-color{
   color:white;
   text-decoration: none;
  }
  .footer
  {background-color: #3D550C;
   color:white;}
 .navbar-brand:hover{color:White;}
 .btn:hover{
    background-color:#3D550C ;
    margin:10px;
    border-color: #59981A;
    color:#ECF87F;
 }
 .nav-link:hover{
    color:#ECF87F ;
     border-color: #59981A;
 }
 
  #product{
   font-size:50px;
   font-weight: 600;
   padding:10px;
   margin-bottom:60px;
  }
 h5{
   color:#3D550C;
   
 }
 .Price{
   color:red;
   font-weight: 600;
 }
 .stars{
color:#3D550C;
font-size: 20px;
 }
  
   .align-card{
      margin:40px;
   }
 .cards-text{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 *,::after,::before{
   box-sizing: border-box;
 }


 
.contact{
   margin:80px;
   padding:50px;
   border:3px dashed #3D550C;
}
#contactbtn{
   width:100px;
   margin-top: 20px;
}
   .bg-color{
      background-color: #3D550C;
   }

   /* Registartion form */

   .reg-form{
      margin:100px;
   }
   .vh-400{
      padding:50px;
      border:3px dashed #3D550C;
   }
   .fab{
      color: #ECF87F;
   }
     #signin-btn{
 margin-left: 40%;
   }
 

   /* Login Form */
   .bg-image-vertical {
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: auto 100%;
      }
      
      @media (max-width: 700px) {
      .h-custom-2 {
      height: 100%;

      }
       
      .reg-form{
           margin:-8px;
         padding:-8px;
       }
      #signupcontainer{
      background-color: white;      }
      }
   
    