body{
    background-color: #100E17;
    font-family: Play;
    color:white;

}
/* Navbar */
.navbar ul{
    display:flex;
    list-style-type: none;
    padding:0;
    align-items: center;
    justify-content: center;
    animation: 3s infinite alternate slidein;

 }
 .navbar ul li{
    margin-right:20px;
    
 }
nav ul li a{
    font-size: 18px;
    font-weight: bold;
    color:White;
    text-decoration: none;
    letter-spacing: 2px;
}
nav ul li a:hover{
    color:crimson;
    padding:5px;
    margin:5px;
    border:3px dashed crimson;
    border-radius: 6px;
}
@media only screen and (max-width:600px)
{
    .navbar ul{
        flex-direction: column;
        max-width:100%; 
        transition: all .5s; 
         line-height: 30px;
        animation: 3s infinite alternate slidein;

  }
 
}
/* About Section */
#about{
     display: flex;
    margin:0;
    padding:50px;
}
.introduction{
     padding:30px;
    color:white;
}
#intro{
    background-color : crimson;
    padding:5px;
    width:100px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: -30px;
}
#name{
     font-size: 70px;
     font-weight: 700;
     white-space: nowrap;
     margin-bottom: -30px;

    
}
#nameprofession{
    font-size: 40px;
    font-weight: 700;
}
#aboutintro {
    background: #100E17;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}
.social-links ul{
    color:white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: left;    

}
.social-links li a{
    color:white;
    text-decoration: none; 
    margin-right:40px;   
}
.social-links li a:hover{
    color:crimson;
    text-decoration: none; 
    margin-right:40px;
    transition: .5s; 
    padding:2px;  
}
.profile{
     display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:930px)
{
    #name{
        color: #FFF;
        font-size: 70px;
         font-weight: 700;
         white-space: normal;
        
    }
    #aboutpic img{
        width:400px;
        height:405px;
    }
}
@media only screen and (max-width:700px)
{
    #name{
        color: #FFF;
        font-size: 50px;
         font-weight: 700;
         white-space: normal;
        
    }
    #about{
        flex-direction: column-reverse;
    }
    #aboutintro{
        width:100%;
        height:100%;
    }
}

@media only screen and (max-width:400px)
{
    #aboutintro{
        width:100%;
        height:100%;
    }
    .profile img{
        width:50%;
        height:50%;
    }
    .social-links ul{
         margin-right:30px; 
        align-items: center;
        justify-content: center;  
    }

    .social-links li a{
        color:white;
        text-decoration: none; 
        margin-right:30px; 
        font-size:30px;
        margin-top: 30px;
      }
}

/* Aboutme section */
#aboutme{
     display: flex;
    flex-direction: row-reverse;
    padding:50px;
}
#aboutpic{
    padding:30px;
     display: flex;
    align-items: center;
    justify-content: center;

}
#aboutpic img{
     
    background-size: cover;

   
}
.aboutmetext{
     padding:30px;
    font: 18px;
}
.aboutmetext h2{
    font-size: 40px;
    font-weight: 700;
    white-space: nowrap;

}
.aboutmetext p{
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
     margin-top:-20px ;
}
#downloadbtn{
    width:150px;
    height:40px;
    text-align: center;
    background: crimson;
    border-radius: 20px;
    color:#FFF;
    border:crimson;

}

@media only screen and (max-width:1000px)
{
    #about{
        padding:0px;
    }
    #aboutme{
        padding:0px;
    }
    .aboutpic img{
        width: 100vh;
        height:100vh;
    }
   
}
@media only screen and (max-width:700px)
{
    #aboutme{
        flex-direction: column;
    }
    #aboutpic img{
        width:300px;
        height:240px;
    }
   
     
}
@media only screen and (min-width:1600px)
{
    .aboutmetext p{
        width:200px;
     } 
    #aboutintro{
        width:200px;
    }
 
   *{
    align-self: center;
    justify-content: center;
     }
    #about{
        margin:5%;
         right:0;


    }
    #aboutmetext{
        margin:5%;
        width:100%;
    }
    #work{
        margin:5%;
        align-items: center;
        justify-content: space-evenly;
        padding: 20%;
        padding-top:02%;
        padding-bottom:2%;
    }
    .cards{
        padding:50px;
     }
    
    .progress  {
           align-items: center;
        justify-content: center;
        
     }
     .block1{
         align-items: center;
        justify-content: center;
       
     }
     input{
        width:60%;
     }
     #name-section{
        width:60%;
     }
     #fname{
        width:30%;
     }
     #lname{
        width:30%;
     }
      
}

/* work section */
.section-heading{
    text-align: center;
    flex-direction: row;
}
#work{
     padding:5px;
}
.box{
    display:flex;
 }
.cards{
    background: #1E1E25; 
    text-align: center;
    padding:20px;
    margin:10px;
    border-radius: 10px;
 }
@media  (max-width:700px) 
{
    .box{
        flex-direction: column;
        align-content: center;
        justify-content: center;
       
         }
         
}

/* Skills section */
#skills{
     padding:10%;

}
.progress  {
     display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
 }
.block1{
     padding:20px;

   }

.bar1{
    display:flex;
    margin-top: 30px;
    background-color: #1E1E25;
    color:#ffffff;
    width:300px;
    height:10px;
    opacity:80%;
    border-radius: 30px;
    left:0;
   
}
.bar2
{
    display:flex;
    position:absolute;
    width:300px;
    background-color: crimson;
    height:10px;
    border-radius: 30px;
    text-align: center;
    font-size: 10px;
    left:5;


  }
  .percentage p{
    font-size: 16px;
     margin-bottom: -25px;
    text-align: center;
     }

     .percentage{
        display:flex;
        justify-content: space-between;
     }



     #bar1{
        width:240px;
      }
     #bar2{
        width:130px;
         }
     #bar3{
        width:80px;
     }
     #bar4{
        width:30px;
      }

     @media  (max-width:800px) 
{
 .progress{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
 }
  
 
}  

@media  (max-width:700px) 
{
    .bar1{
        width:300px;
    }
    .bar2{
        width:150px;
    }

    #work{
        padding:20px;
        margin:10px;
    }
    .cards{
        padding:20px;
        margin:10px;
    }
}

/* Education Section */
.educationcards{
    display:flex;
}
.educards{
    background-color: #1E1E25;
    padding:20px;
    margin:20px;
    border-radius: 10px;
}
.educards i{
    color:crimson;
    margin:10px;
}
#date{
    color:crimson;
}
p{
    text-align: justify;

}
@media  (max-width:700px) 
{
    .educationcards{
        flex-direction: column;
 flex-wrap: nowrap;   }

}
/* Contact Me Section */
.container-contact-cards{
    display:flex;
    align-items: center;
    justify-content: center;
}
.contactcards{
    background-color:#1E1E25;
    padding:20px;
    text-align: center;
    margin:10px;
    border-radius: 10px;
}
.contactcards p{
    text-align: center;
}
#contact-icons{
    border-radius:50%;
    border:1px solid crimson;
     padding:15px;
     text-align: center;
}
#contact-icons:hover{
     color: crimson;
     margin:1px;
     text-align: center;
}
 
@media  (max-width:700px) 
{
    .container-contact-cards{
    display:block;
    margin:15px;    }  
    .contactcards{
        margin:10px;
    }
 
}

/* Contact Me Form section */
form{
    display: flex;
    flex-direction: column;
    padding:20px;
    margin:10px;
}
#name-section{
    display:flex;
      width:100%;
}
#fname{
    width:50%;

}
#lname{
    width:50%;

}
input,button[type="submit"]
{
    margin:3px;
    padding:15px;
    border:1px solid white;
    background-color: #100E17;
    border-radius: 10px;
    color:white;

}
input:hover{
    margin:3px;
    padding:15px;
    border:1px solid crimson;
    color:crimson;
    background-color: #100E17;
    border-radius: 10px;
}
button[type="submit"]
{
    border:1px solid crimson;
    background-color: crimson;
    border-radius: 50px;

}
button[type="submit"]:hover
{
    border:1px solid rgb(255, 255, 255);
    background-color: crimson;
}
#copyright-text{
    text-align: center;
}