* {
    background-color: #050A30;
    color: rgb(232, 227, 227);
    font-family: Play;
     padding: 0;
     margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: block;
     justify-content: center;
    align-items: center;
    min-height: 100vh;
   }
  
  #Univeristyname {
    text-align: center;
    margin-top: 2rem;
  }
  
  #logo {
    width: 150px;
    margin-bottom: 2rem;
  }
  
  .reg_form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    
  }
  
  .pair {
    border: none;
   margin-top:15px;
   margin-left:10%;
   justify-content: center;
    align-items: center;
  }
  
  .Label {
    display: block;
     margin-bottom: -5px;
  }
  
  .Input,
  textarea,
  select {
     height: 2em;
    font-size: 1.1rem;
    background-color: #ececf0;
    border: 1px dashed white;
    border-radius: 5px;
    min-width: 300px;
    color:#000C66;
    margin: 10px 0 0 0;
    width: 350px;
    min-height: 2em;
  }
  
  input,
  textarea {
    width: 100%;
    color:#000C66;
  }
  
  .radio_button {
    width: 10px;
    padding: 2px;
  }
button{
    width:100px;
    height:35px;
    border: 1px solid #050A30;
    align-items: center;
    background-color: #7EC8E3 ;
    color:#050A30;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    margin-left:35%;
    margin-top: 20px;
    margin-bottom: 20px;
    

}  
input[type="radio"] {
     
    margin:10px 10px;
     padding-right:50%;
   }
  
  #gender{
    padding: 1px 2px;
     padding-left:0px;
    padding-right:15%;

  }

  
  @media (min-width: 340px) and (max-width:800px ) {
    /* CSS rules for mobile devices */
    body{
display:block;    }
.Input,
  textarea,
  select {
            width:50%;
   }
     
  }

  title{
    color:red;
  }